.nav-bar {
    width:99vw;
    height:5vh;
    /* border-top: 2px solid black; */
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
    /* justify-content: center; */
    align-items:center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 6974;
}
