.channel-vid-recommendation-body, .similar-vid-recommendation-body, .channel-recommendation-body {
    border: 2px solid black;
    padding: 10px;
}

.channel-vid-recommendation-title, .similar-vid-recommendation-title, .channel-recommendation-title {
    margin: 0px;
}

body {
    margin: 0px;
}

main {
    padding: 10px;
}

.vidThumbnailContainer {
    width: 480px;
    height: 270px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.vidThumbnailImage {
    width: 480px;
}
